# want vi to be the default editor for readline
set editing-mode vi

# vi settings
$if mode=vi
    set show-mode-in-prompt on
    set vi-ins-mode-string \1\e[6 q\2
    set vi-cmd-mode-string \1\e[2 q\2
    # normal mode
    set keymap vi-command
    "n": next-history
    "m": backward-char
    "i": forward-char
    "e": previous-history
    "t": vi-insertion-mode
    # insert mode
    set keymap vi-insert
    "ii": vi-movement-mode # remap escape
$endif 

